body{
  background-image: url(http://i.imgur.com/IKLNAcV.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: right top;
  font-family: helvetica;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
  color: blue;
}
h1 a{
  animation: kleur 10s ease-in-out infinite;
}
h1{
  font-size: 4vw;
  font-weight: bolder;
  text-align: center;
  margin: 2vw 0vw;
  animation: kleur 10s ease-in-out infinite;
}
h2{
  font-size: 2vw;
  margin: 1vw 0vw;
}
h3{
  font-style: italic;
  text-align: center;
  margin: -2.5vw 0vw 0vw -9vw;
}
h4{
  float: right;
  font-style: italic;
  color: gray;
}
nav{
  float: right;
  margin: 1vw 0vw;
  width: 10vw;
  background-color: white;
  box-shadow: 0.1vw 0.1vw 0.1vw gray;
  padding: 1vw;
}
nav a{
  display: block;
  margin: 2vw 0vw;
  transition: all 1s;
  color: black
}
nav a:hover{
  animation: kleur 10s ease-in-out infinite;
}
.post{
  width: 75vw;
  background-color: rgba(255,255,255,0.5);
  border: 0.5vw solid whitesmoke;
  padding: 1vw;
  margin: 0vw 5vw 2vw 5vw;
}
.text{
  font-size: 1.1vw;
}
.detail{
  font-size: 1vw;
  display: inline;
  margin: 0vw 2vw 0vw 0vw;
}
.footer{
  text-align: center;
  font-size: 0.9vw;
  padding: 1vw;
}
.archieflinks{
  padding: 1vw;
  text-align: center;
}
.archieflinks a{
  color: gray;
  font-size: 0.8vw;
  margin-left: 1vw;
}
@keyframes kleur {
  0%, 100% {
    color: black;
  }
   10% {
      color: red;
  }
   20% {
     color: blue;
  }
   30% {
    color: orange;
  }
  40% {
     color: green;
  }
  50% {
     color: purple;
  }
  60% {
     color: gold;
  }
  70% {
     color: chocolate;
  }
  80% {
     color: lightblue;
  }
  90% {
     color: tan;
  }
}
